input[type=text], select {
    width: 25%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
  }
  button {
    width: 10%;
    background-color: #04AA6D;
    color: white;
    padding: 14px 20px;
    margin: 8px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  #withdraw{
    background-color: #fc0404;

  }
  .form-transc{
    margin: 20px;
    
  }